# local requirements for local and CI envs
-r requirements.txt
flake8==4.0.1
flake8-import-order==0.18.1
flake8-blind-except==0.2.0
flake8-bugbear==22.1.11
pep8-naming==0.13.1
flake8-builtins==1.5.3
flake8-logging-format==0.6.0
flake8-variables-names==0.0.5
flake8-functions==0.0.7
flake8-comprehensions==3.10.0
flake8-bandit==3.0.0
mypy==0.991
flake8-print==5.0.0
pytest==7.1.2
functions-framework==3.2.1